* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;

  justify-content: center;
  align-items: center;
}

#sp-menu {
  width: 100%;
  margin: auto;
  text-align: center;
}

ul {
  width: 90%;
  margin: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

li {
  color: #fafafa;
  font-size: 16px;
  margin: 0 30px;
  padding: 0;
}

ul > :first-child {
  margin-right: auto;
}

.main-visual {
  width: 100%;
  height: 640px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  color: #fafafa;
}

.main-visual-text {
  padding-top: 200px;
  text-align: center;
}

.main-visual-text > h1 {
  font-size: 64px;
}

.main-visual-text > p {
  font-size: 20px;
  margin-top: 10px;
}

.main {
  width: 100%;
  margin: auto;
  padding-bottom: 90px;
  background-color: #eceff1;
}

.main-text {
  width: 90%;
  padding-top: 90px;
  margin: auto;
  text-align: center;
}

.main-text > h1 {
  font-size: 32px;
  color: #000000;
}

.underline {
  width: 70px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #ec715f;
}

.main-text > p {
  font-size: 16px;
  color: #000000;
  margin: 30px auto;
}

.main-background-images {
  width: 90%;
  height: 510px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.main-background-image {
  flex-basis: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main-background-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.main-background-image:nth-child(2) {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.main-background-image:nth-child(3) {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
  margin-right: 0;
}
.main-background-image:nth-child(4) {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.main-background-image:nth-child(5) {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.main-background-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
  margin-right: 0;
  margin-bottom: 0;
}

.feature {
  width: 100%;
  color: #000000;
}

.feature-text {
  width: 90%;
  margin: auto;
  text-align: center;
}

.feature-text > h1 {
  font-size: 32px;
  margin-top: 90px;
}

.feature-text > p {
  font-size: 16px;
  margin-top: 30px;
}

.feature-explain {
  width: 90%;
  margin: 30px auto 90px;
  display: flex;
  flex-wrap: wrap;
}

.feature-part {
  flex-basis: 320px;
  margin-right: 10px;
  text-align: center;
}

.feature-part:nth-child(3) {
  margin-right: 0;
}

.feature-part > h5 {
  font-size: 20px;
  margin-top: 10px;
}

.feature-part > i {
  font-size: 60px;
}

.feature-part > p {
  font-size: 16px;
  margin-top: 10px;
}

.profile {
  color: #000000;
  background-color: #eceff1;
}

.profile-text {
  width: 90%;
  margin: auto;
  padding-top: 90px;
  text-align: center;
}

h1 {
  font-size: 32px;
}

p {
  margin-top: 30px;
  font-size: 16px;
}

.profile-part {
  width: 90%;
  margin: 30px auto 0;
  padding-bottom: 90px;
  display: flex;
}

.profile-image {
  width: 90%;
  text-align: center;
}

.profile-image > img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.introduction {
  width: 90%;
}

.myname {
  font-size: 20px;
}

.introduction > p {
  font-size: 16px;
  margin-top: 5px;
}

.myskills {
  font-size: 20px;
  margin-top: 20px;
}

.contact-text {
  width: 90%;
  margin: auto;
  padding-top: 90px;
  text-align: center;
}

.contact-body {
  width: 90%;
  margin: 30px auto 0;
  padding-bottom: 90px;
  display: flex;
}

.mail {
  width: 400px;
  margin: auto;
}

.SNS {
  width: 400px;
  margin: auto;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  text-align: center;
  align-items: center;
  color: #fafafa;
  font-size: 16px;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }

  #hm-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }

  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }

  .menu-trigger span:nth-child(1) {
    top: 0;
  }

  .menu-trigger span:nth-child(2) {
    top: 20px;
  }

  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #fff;
  }

  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #fff;
  }

  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }

  #sp-menu li {
    text-align: center;
    margin-bottom: 30px;
  }

  #sp-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}
