* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
  display: flex;
}

.header_item {
  width: 100%;
  text-align: center;
  display: flex;
}

ul {
  width: 1024px;
  margin: auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

li {
  color: #fafafa;
  font-size: 16px;
  margin: 0 30px;
  padding: 0;
}

ul > :first-child {
  margin-right: auto;
}

.main-visual {
  width: 100%;
  height: 640px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  color: #fafafa;
}

.main-visual-text {
  padding-top: 200px;
  text-align: center;
}

.main-visual-text > h1 {
  font-size: 64px;
}

.main-visual-text > p {
  font-size: 20px;
  margin-top: 10px;
}

.main {
  width: 100%;
  margin: auto;
  padding-bottom: 90px;
  background-color: #eceff1;
}

.main-text {
  width: 940px;
  padding-top: 90px;
  margin: auto;
  text-align: center;
}

.main-text > h1 {
  font-size: 32px;
  color: #000000;
}

.underline {
  width: 70px;
  height: 3px;
  margin: 8px auto 0;
  background-color: #ec715f;
}

.main-text > p {
  font-size: 16px;
  color: #000000;
  margin: 30px auto;
}

.main-background-images {
  width: 940px;
  height: 510px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.main-background-image {
  flex-basis: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.main-background-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.main-background-image:nth-child(2) {
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.main-background-image:nth-child(3) {
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
  margin-right: 0;
}
.main-background-image:nth-child(4) {
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.main-background-image:nth-child(5) {
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.main-background-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
  margin-right: 0;
  margin-bottom: 0;
}

.feature {
  width: 100%;
  color: #000000;
}

.feature-text {
  width: 980px;
  margin: auto;
  text-align: center;
}

.feature-text > h1 {
  font-size: 32px;
  margin-top: 90px;
}

.feature-text > p {
  font-size: 16px;
  margin-top: 30px;
}

.feature-explain {
  width: 980px;
  margin: 30px auto 90px;
  display: flex;
  flex-wrap: wrap;
}

.feature-part {
  flex-basis: 320px;
  margin-right: 10px;
  text-align: center;
}

.feature-part:nth-child(3) {
  margin-right: 0;
}

.feature-part > h5 {
  font-size: 20px;
  margin-top: 10px;
}

.feature-part > i {
  font-size: 60px;
}

.feature-part > p {
  font-size: 16px;
  margin-top: 10px;
}

.profile {
  color: #000000;
  background-color: #eceff1;
}

.profile-text {
  width: 1024px;
  margin: auto;
  padding-top: 90px;
  text-align: center;
}

h1 {
  font-size: 32px;
}

p {
  margin-top: 30px;
  font-size: 16px;
}

.profile-part {
  width: 1024px;
  margin: 30px auto 0;
  padding-bottom: 90px;
  display: flex;
}

.profile-image {
  width: 512px;
  text-align: center;
}

.profile-image > img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.introduction {
  width: 512px;
}

.myname {
  font-size: 20px;
}

.introduction > p {
  font-size: 16px;
  margin-top: 5px;
}

.myskills {
  font-size: 20px;
  margin-top: 20px;
}

.contact-text {
  width: 800px;
  margin: auto;
  padding-top: 90px;
  text-align: center;
}

.contact-body {
  width: 800px;
  margin: 30px auto 0;
  padding-bottom: 90px;
  display: flex;
}

.mail {
  width: 400px;
  margin: auto;
}

.SNS {
  width: 400px;
  margin: auto;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  text-align: center;
  align-items: center;
  color: #fafafa;
  font-size: 16px;
}

footer > p {
  padding: auto;
}
